@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    text-align: center;
}

h1 {
    font-size: 48px !important;
    line-height: 100%;
    color: #FFFFFF;
    margin: 0 0 40px;
}

p {
    font-size: 21px;
    color: rgba(0,0, 0, .5);
}

.learn-more-btn {
    display: inline-block;
    padding: 20px 40px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 40px;
    border-radius: 100px;
    color: #2353CA;
    border: 0.5px solid #BDBDBD;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 100%;
}
.learn-more-btn > img {
    max-width: 22px;
    margin-right: 20px;
    vertical-align: text-bottom;
}
.learn-more-btn.messenger {
    border: none;
    margin-top: 60px;
}

.navbar.navbar-default {
    border-radius: 0;
    background-color: transparent;
    margin: 0 100px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border-width: 0 0 1px;
    border-bottom-color: rgba(255, 255, 255, .5);
    /*-webkit-border-image: -webkit-radial-gradient(0.50px at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);*/
    /*-webkit-border-image: -webkit-radial-gradient(0.50px at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);*/
    /*-moz-border-image: -moz-radial-gradient(0.50px at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);*/
    /*-o-border-image: -o-radial-gradient(0.50px at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);*/
    /*border-image: radial-gradient(0.50px at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);*/
}
.navbar.navbar-default .container-fluid {
    padding: 0 100px;
}
.navbar-default .navbar-brand {
    margin-left: 0;
    padding: 20px;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 8.4px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
}
.navbar-default .navbar-nav>li>a {
    font-size: 18px;
    padding: 30px 16px;
    line-height: 100%;
    /*font-weight: normal;*/
    /*color: rgba(0, 0, 0, 0.4) !important;*/
    opacity: .5;
}
.navbar-default .navbar-nav>.active>a {
    /*color: rgba(0, 0, 0, 0.7) !important;*/
    /*font-weight: 500;*/
    /*background-color: transparent !important;*/
    /*border-bottom: 4px solid #C4C4C4;*/
}

.top {
    padding-right: 30px;
    padding-left: 30px;
}

.slide-1 .top {
    background: url("../images/header-img.png") center;
    background-size: cover;
    display: table;
    float: left;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif !important;

}
.slide-1 .top .inner {
    display: table-cell;
    float: none;
    vertical-align: middle;
    padding: 80px 15px 15px;
}
.slide-1 .top h1 {
    color: #FFFFFF;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 844px;
    margin: 0 auto;
    line-height: 120%;
}
.slide-1 .top p {
    display: block;
    max-width: 750px;
    margin: 10px auto 0;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.8);
}
/*Slide-1 styles end*/

/*Slide-2 styles begin*/
.slide-2,
.slide-3,
.slide-4,
.slide-5,
.slide-6,
.slide-7 {
    padding: 80px 0;
    background: #ffffff;
    border: solid rgba(0, 0, 0, .2);
    border-width: 0 0 1px;
    margin: 0 40px;
}
    .slide-2 h1,
    .slide-3 h1,
    .slide-4 h1,
    .slide-5 h1,
    .slide-7 h1 {
        color: #2353CA;
        font-weight: 600;
        margin-bottom: 40px;
        margin-top: 0;
        line-height: 120%;
    }
    .slide-2 p,
    .slide-7 p {
        max-width: 700px;
        display: block;
        margin: auto;
    }
/*Slide-2 styles end*/

/*Slide-3 styles begin*/
.slide-3,
.slide-4,
.slide-5 {
    text-align: left;
}

.img-container {
    padding: 0 30px 0;
}
    .img-container > img {
        /*margin: auto;*/
        max-width: 100%;
        box-shadow: 0 50px 100px rgba(0, 0, 0, 0.05);
    }

.consultation {
    vertical-align: middle;
    padding-left: 40px;
}
    .consultation h1,
    .consultation p{
        max-width: 80%;
        display: block;
        margin: 0 auto 40px;
    }

.slide-6 {
    margin: 0;
    background: url("../images/bg.png") center;
    background-size: cover;
    display: table;
    float: left;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}
    .slide-6 h1 {
        color: #ffffff;
        margin-top: 0;
    }
    .slide-6 h1:last-child {
        margin-bottom: 0;
    }


.slide-7 {
    display: table;
    width: 100%;
    margin: 0;
    padding-bottom: 0;
}
    .slide-7 .magazines {
        margin: 80px auto;
        display: inline-block;
    }
        .slide-7 .magazines > img {
            margin: 0 30px;
        }
    .slide-7 .clients {
        margin: 0;
    }
        .slide-7 .clients > div {
            padding: 0;
        }
        .slide-7 .clients img {
            max-width: 100%;
        }

.footer {
    text-align: center;
    height: 80px;
}
    .footer p {
        margin-top: 31px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: 100%;
        color: rgba(0, 0, 0, 0.5);
        opacity: 1.00;
    }


@media (max-width: 1067px) {
    .slide-7 .magazines {
        margin-top: 30px;
    }
        .slide-7 .magazines > img {
            margin-top: 30px;
        }
}

@media (max-width: 991px) {
    .navbar.navbar-default .container-fluid {
        padding: 0 6%;
    }
    .slide-2, .slide-3, .slide-4, .slide-5, .slide-6, .slide-7 {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .table-display {
        display: table !important;
    }
    .table-display .table-cell {
        display: table-cell !important;
        float: none;
        vertical-align: middle;
    }

    /*Slide-4 styles*/
    .slide-4 .consultation {
        padding-left: 0;
    }
        .slide-4 .consultation h1,
        .slide-4 .consultation p {
            margin: 0 30px 40px;
        }
    /*Slide-4 styles end*/
}
@media (max-width: 767px) {
    body {
        text-align: left;
    }

    h1 {
        font-size: 36px !important;
    }

    .navbar.navbar-default {
        margin: 0 12% 0;
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }

    .navbar-nav {
        margin: 0 !important;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-default .navbar-nav>li>a {
        opacity: 1;
    }

    .navbar-header {
        float: left;
    }

    .container-fluid > .navbar-header {
        margin-right: 0;
        margin-left: 0;
    }

    .consultation h1, .consultation p {
        margin-bottom: 30px;
    }

    .img-container {
        padding: 30px;
    }

    .img-container > img {
        margin: auto;
        display: block;
        max-width: 80%;
    }

    .slide-1,
    .slide-6,
    .slide-7 .magazines,
    .footer {
        text-align: center;
    }

    .slide-2 .col-xs-12,
    .slide-7 .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .slide-2 .top,
    .slide-7 .top {
        padding-right: 0;
        padding-left: 0;
        max-width: 80%;
        margin: auto;
    }
}

@media (max-width: 575px) {
    .navbar.navbar-default {
        margin: 0 2% 0;
    }

    .navbar.navbar-default .container-fluid {
        padding: 0;
    }

    .slide-1 .top .inner {
        padding: 80px 0 15px;
    }
    .slide-2, .slide-3, .slide-4, .slide-5, .slide-6, .slide-7 {
        padding-top: 40px;
    }
}
